.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(33, 37, 41);
    padding-left: .75rem;
    padding-right: .75rem;
  }
  
  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: auto;
    
  }
  
  .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fff;
    text-decoration: none;
  }